<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wizzstudio.hole.mapper.EchoMapper">

    <select id="timeline" resultType="com.wizzstudio.hole.model.Echo">
        SELECT id,user_id,blog_id,content,thank,overt,publish_time,report,solved,valid
        FROM echo
        WHERE user_id =#{userId}
        OR blog_id IN(
            SELECT id
            FROM blog
            WHERE user_id = #{userId}
        )

    </select>

    <update id="openEcho" >
        UPDATE echo e
        SET e.overt = 1
        WHERE e.id = #{echoId}
        AND e.blog_id =(
            SELECT b.id,
            FROM blog b
            WHERE e.id = #{echoId}
            AND b.id = e.blog_id
            AND b.user_id = #{userId}
        )
    </update>
</mapper>